* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    color: white !important;
}

h3 {
    color: #320E3B !important;
    text-align: center;
    /* display: none; */
}

.first,
#deg,
.basic {
    display: inline-block;
}

.second,
#rad,
.inverse,
.hyp {
    display: none;
}

.calc {
    /* margin: 10% 33%; */
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

span {
    font-size: 23px;
    padding-left: 10px;
    vertical-align: middle;
}

#close button {
    color: white;
    border: none;
    background-color: transparent;
    padding-left: 40px;
}

.calc table {
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

table tr {
    /* background-color: rgba(170, 170, 170, 0.242); */
    background-color: #320E3B;
}

table tr td {
    width: 98px;
    height: 62px;
    text-align: center;
}

td input[type="button"],
td button {
    width: 95%;
    height: 95%;
    border: none;
    font-size: 21px;
    /* background-color: rgba(255, 255, 255, 0.785); */
    background-color: #a175ac62;
}

td input[type="text"] {
    width: 100%;
    height: 90px;
    border: none;
    outline: none;
    font-size: 32px;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    background-color: transparent;
}

.number input[type="button"] {
    /* background-color: white; */
    background-color: #ac8ab491;
    font-weight: bolder;
    font-size: 24px;
}

input[type="button"]:hover,
td button:hover {
    transition-duration: 0.3s;
    background-color: #f0b2ff62;
    /* box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.432); */
}

#equalsto input:hover {
    border: none;
    background-color: #f0b2ff62;
    background-color: rgba(140, 209, 255, 0.499);
}

#delete button:hover {
    border: none;
    background-color: rgba(243, 60, 60, 0.338);
}


/* .first_row td input[type="button"] {
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

.first_row td input[type="button"]:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.37);
} */

.first_row td h5{
    color: rgb(192, 189, 189) !important;
    text-align: right;
    padding-right: 20px;
    padding-top: 40px;
}

.second_row td input[type="button"] {
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

.second_row td input[type="button"]:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.37);
}

.second_row td:first-child,
.second_row td:nth-child(2) {
    opacity: 0.5;
}

.third_row td .btn {
    height: 60px;
    font-size: 18px;
    border-radius: 0%;
    background-color: transparent;
    outline: none;
    border: none;
}

.third_row td .btn:hover,
.third_row td .btn:focus {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.37);
}

.dropdown-menu {
    width: 395px;
    border-radius: 0%;
    background-color: #320E3B;
    padding: 0px;
}

.dropdown-menu td input[type="button"] {
    font-size: 18px;
}

.dropdown table {
    box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.192);
}

.function {
    width: 195px;
}

p {
    color: rgb(255, 144, 144) !important;
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
}